# Ambiente e variáveis de ambiente
.env
*.env

# Python byte-compiled / otimizados / DLLs
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs de instalação
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Traduções
*.mo
*.pot

# Arquivos específicos do Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Cache e arquivos temporários de outros frameworks
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py

# Configurações de ambientes virtuais
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos específicos do Spyder, Rope, mypy, pyre, pytype
.spyderproject
.spyderworkspace
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Depuração Cython
cython_debug/

# Configurações do editor
.vscode/

# Arquivos gerados pelo sistema operacional
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
*.bak

# Frontend (se aplicável)
node_modules/
dist/

# Arquivos específicos de amostra e de tradução
sample_translated.docx
modules/__pycache__/__init__.cpython-313.pyc
